body {
  color: #f5f5f5;
  background-color: #3d444f;
}

a {
  color: #00ff55;
}

a:hover, a:focus {
  color: #00ff3b;
}

a:visited {
  color: #00ff55;
}

input, textarea, select {
  background-color: #010e23;
}

/* override summernote */
.note-editor.note-frame .note-editing-area .note-editable {
  background-color: #010e23;
  color: #f5f5f5;
}

.note-editor.note-frame .note-statusbar {
  background-color: #000b1c;
}

.panel-default > .panel-heading {
  background-color: #000b1c;
}
.navbar-default {
  background-color: #1d2738;
  border-color: #0b0414;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}


.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ed2700;
}

.about-author {
  border-color: #001111;
  background-color: #000d19;
  color: #f5f5f5;
}

.author-info {
  background-color: #161b26;
}

.slide-toggler {
  background: linear-gradient(#161b26, #100f1c);
}

.post {
  background-color: #010e23;
}

.main-form {
  background-color: #161b26;
}

.comment {
  border-color: #00ff3b;
}

.date {
  color: #b6b7ba;
}

.com-form textarea {
  border-color: #00ff3b;
}

.profile-controls {
  background-color: #0e131c !important;
}

.modal-body, .modal-header, .modal-footer {
  background-color: #161b26;
  border: none;
  color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #0c1627;
  color: #ed2700;
}

.dropdown-menu {
  background-color: #1d2738;
}

.dropdown-menu > li > a {
  color: #f5f5f5;
}

.dropdown-menu > li > a:hover {
  background-color: #0c1627;
  color: #ed2700;
}
