<div class="row">
  <div class="col-md-offset-4 col-md-4 text-center">
      <span class="step-links">
          {% if obj.has_previous %}
              <a href="/?page={{ posts.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
          </span>

          {% if obj.has_next %}
              <a href="/?page={{ posts.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
</div>
