{% extends "base.html" %}

{% block content %}
<div class="row">
<section class="col-md-offset-2 col-md-8 post">
  {% include "posts/post.html" %}
  <section class="comments">
    <form method="post" action="{% url 'posts:comment' post.id %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input class='btn btn-default align-right' type='submit' value='Comment'>
      </input>
      <div class="clear"></div>
    </form>
    {% for comment in comments %}
      {% include "posts/comment.html" %}
    {% endfor %}
  </section>
</section>
</div>
<div class="row">
{% if post.similar_posts %}
<footer class="similar-posts col-md-offset-2 col-md-8">
  <h5>Similar Posts:</h5>
  <ul>
    {% for post in post.similar_posts %}
    <li><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</footer>
{% endif %}
</div>
{% endblock %}
