{% extends "base.html" %}

{% block content %}
{% if tag %}
<h3 class="text-center">Posts tagged as {{ tag }}:</h3>
{% else %}
<h3 class="text-center">Latest Posts:</h3>
{% endif %}
<!--<div class="container">-->
{% for post in posts %}
<div class="row">
  <section class="col-md-offset-1 col-md-8 post">
    {% include "posts/post.html" %}
  </section>
  <aside class="col-md-offset-1 col-md-2 about-author">
    <img src="{{ post.user.profile.photo_url }}" class="img-circle" width="50" height="50">
    <p class="text-center">
      <a href="{% url 'profile' post.user.username %}">
        <span class="author">{{ post.user.username }}</span>
      </a>
    </p>
    <p class="text-justify">{{ post.user.profile.short_description }}</p>
  </aside>
</div>
{% endfor %}
<div class="row">
  <div class="col-md-offset-1 col-md-8">
    {% include "pagination.html" with obj=posts %}
  </div>
</div>
<!--</div>-->
{% endblock %}
