{% block content %}

{% for post in posts %}
<div class="row">
  <section class="col-md-offset-1 col-md-8 post">
    {% include "posts/post.html" %}
  </section>
  <aside class="col-md-offset-1 col-md-2 about-author">
    <img src="{{ post.user.profile.photo_url }}" class="img-circle" width="50" height="50">
    <p class="text-center">
      <span class="author">{{ post.user.username }}</span>
    </p>
    <p class="text-justify">{{ post.user.profile.short_description }}</p>
  </aside>
</div>
{% empty %}
<h3 class="text-center">No posts found</h3>
{% endfor %}

<div class="row">
  <div class="col-md-offset-1 col-md-8">
    {% include "pagination.html" with obj=posts %}
  </div>
</div>

{% endblock %}
